<<<<<<< HEAD
body{
    font-family: "Lucida Blackletter", "Arial Black", sans-serif;
    color: #000;
    background-color: #FFFFFF;
}

label {
    display: inline-block;
    width: 140px;
    font-weight: bold;
}

input[type="text"]{
    width: 250px;
}

fieldset label {
    font-weight: normal;
    width: auto;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    font-weight: bold;
    padding-left: 0;
}

label[for="region"], label[for="ideas"] {
    width: auto;
}

textarea{
    height: 100px;
    width: 300px;
}

form{
    margin-left: 60px;
=======
Cuerpo {
    Fuente-familia : " Lucida Blackletter " , " Arial Black " , sans-serif ;
    Color : # 000 ;
    Color de fondo : #FFFFFF ;
}

Etiqueta {
    Display : inline-block ; S
    Ancho : 140 px ;
    Font-weight : bold ;
}

Entrada [ type = " text " ] {
    Ancho : 250 px ;
}

 Etiqueta fieldset {
    Font-weight : normal ;
    Anchura : auto ;
}

Fieldset {
    Margen : 0 ;
    Relleno : 0 ;
    Frontera : ninguno ;
}

Leyenda {
    Font-weight : bold ;
    Padding-left : 0 ;
}

Label [ for = " region " ], label [ for = " ideas " ] {
    Anchura : auto ;
}

Ãrea de texto {
    Altura : 100 px ;
    Ancho : 300 px ;
}

Formulario {
    Margen izquierda : 60 px ;
>>>>>>> origin/master
}